/* css code starts from here */

@font-face {
	font-family: 'Web Serveroff';
		src: url('../font/WebServeroff/webserveroff.eot');
		src: url('../font/WebServeroff/webserveroff.eot?#iefix') format('embedded-opentype'),
				 url('../font/WebServeroff/webserveroff.woff') format('woff'),
				 url('../font/WebServeroff/webserveroff.ttf') format('truetype'),
				 url('../font/WebServeroff/webserveroff.svg#webserveroff') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
			src: url('../font/Cuprum/cuprumregular0.eot');
			src: url('../font/Cuprum/cuprumregular0.eot?#iefix') format('embedded-opentype'),
				 url('../font/Cuprum/cuprumregular0.woff') format('woff'),
				 url('../font/Cuprum/cuprumregular0.ttf') format('truetype'),
				 url('../font/Cuprum/cuprumregular0.svg#cuprumregular0') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
	font-family: 'CuprumBold';
			src: url('../font/CuprumBold/cuprumbold0.eot');
			src: url('../font/CuprumBold/cuprumbold0.eot?#iefix') format('embedded-opentype'),
					 url('../font/CuprumBold/cuprumbold0.woff') format('woff'),
					 url('../font/CuprumBold/cuprumbold0.ttf') format('truetype'),
					 url('../font/CuprumBold/cuprumbold0.svg#cuprumbold0') format('svg');
			font-weight: normal;
			font-style: normal;
}

body {
	position: relative;
}

/* header */
header#main-header {
	padding: 5px 0px;
	border-bottom: 1px dashed #000000;
}

.fixedHeader {
	position: fixed;
	left: 0px; 
	right: 0px; 
	top: 0px;
	background: #fff;
	z-index: 9999;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.my-brand {
	color: #000 !important;
	text-shadow: none !important;
	vertical-align: middle;
	text-decoration: none !important;
}

#main-footer .my-brand {
	color: #fff !important;
}

.my-brand strong {
	font: 30px/30px Cuprum;
}

.my-brand {
	font: 30px/30px Web Serveroff !important;
}

.my-brand img {
	margin-right: 10px;
}

/* language checker */

.lang-checker li {
	margin-right: 10px;
}

.lang-checked a {
	border: 1px dashed #000 !important;
}

.lang-checker a {
	text-shadow: none !important;
	border: 1px dashed transparent;
	border-radius: 100px;
	padding: 3px 5px !important;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.lang-checker a:hover {
	border: 1px solid #000;
	color: #000 !important;
}

/* menu top header */
.menu-list {
	padding-top: 25px;
	display: inline;
	list-style: none;
	position: relative;
	padding-right: 5px;
}

.mobile-navbar {
	margin-top: 18px !important;
}

.menu-list > li {
	margin-left: 75px;
	display: inline;
}

.menu-list > li:first-child {
	margin-left: 0px;
}

.menu-list > li a, .entry a {
	font: 24px/24px Web Serveroff;
	border: none;
	outline: none;
	text-decoration: none;
}

.menu-list > li a:hover {
	text-decoration: none;
}

/* slide dot at nav */
.dot-effect {
  width: 90px;
  height: 5px;
  background: #1a1a1a;
  position: absolute;
  bottom: -32px;
  left: -3%;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.menu-list li:nth-child(1):hover ~ .dot-effect {
    left: -3%;
}

.menu-list li:nth-child(2):hover ~ .dot-effect {
	left: 37%;
}

.menu-list li:nth-child(3):hover ~ .dot-effect {
   left: 78%;
}

/* center content */

.hero-unit {
	background: url('../img/bg-pattern.png') repeat;
	margin-bottom: 0px !important;
	padding-bottom: 20px !important;
}

.hero-unit h1 {
	font-size: 65px !important;
	font-family: Cuprum, Designosaur, Open Sans Condensed;
}

@media (max-width: 480px) { 
	.hero-unit h1 {
		font-size: 45px !important;
	}
	
	.menu-list > li {
		margin-left: 25px;
	}
	
	#main-footer:before {
		content: '';
		position: absolute;
		top: 0px;
		left: -20px;
		width: 20px;
		background: #1a1a1a;
		height: 100%;
	}

	#main-footer:after {
		content: '';
		position: absolute;
		top: 0px;
		right: -20px;
		width: 20px;
		background: #1a1a1a;
		height: 100%;
	}
	
	.personal-info {
		overflow: visible !important;
	}
	
	.personal-info p {
		padding-right: 0px !important;
	}
	
	.personal-info:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 20px;
		left: -20px;
		top: 0px;
		background: #503670;
	}

	.personal-info:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 20px;
		right: -20px;
		top: 0px;
		background: #503670;
	}
	
	.close-about {
		display: none !important;
	}
	
	.close-contact {
		right: 0px !important;
		margin-right: 0px !important;
	}
}

.orange-link, .orange-link:hover  {
	color: #fb972c;
}

.blue-link, .blue-link:hover  {
	color: #0cf; 
}

.orange-link:hover , .blue-link:hover {text-decoration: none; cursor: default;}

/* personal info */

.personal-info {
	width: 100%;
	padding: 30px 0px;
	display: none;
	background: #503670 /*url('../img/background.jpg') no-repeat*/;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.whiter {
	border-bottom: 1px dotted #fff;
	font-family: Arial;
	font-weight: bold;
}

.personal-info p {
	color: #fff;
	padding-right: 60px;
	font-family: Web Serveroff;
	font-size: 25px;
	line-height: 30px;
}

.personal-info h3 {
	color: #fff;
}

.personal-info > .container {
	position: relative;
}

.close-about {
	position: absolute;
	right: 0px;
	width: 54px;
	height: 142px;
	background: url('../img/close-about2.png') no-repeat;
	top: -150px;
	display: block;
	cursor: pointer;
}

/* get in touch */

.get-in-touch {
	border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
}

.contact-me {
	background: #0cf;
	
	/*
	text-decoration: none;
	color: #fff;
	padding: 5px 25px;
	border-radius: 25px;
	display: inline-block;*/
	font: 31.5px/31.5px Web Serveroff;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.contact-me:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}


/* portfolio-img */

.big-name {
	position: relative;
}

.arrow {
	position: absolute;
	background: url('../img/arrow.png') no-repeat;
	width: 83px;
	height: 215px;
	content: '';
	top: 29px;
	left: -88px;
}

.big-name h2 {
	font: 36px/36px CuprumBold !important;
	margin-bottom: 0px;
}

.big-name h3 {
	margin-top: 0px;
}
	
.portfolio-work h2 {
	font: 18px/18px Cuprum !important;
	margin-bottom: 0px;
	margin-top: 20px;
}

.portfolio-work h4 {
	margin-top: 0px;
}

.portfolio-img {
	max-width: 300px;
	max-height: 204px;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.portfolio-img > a {
	border: 1px solid transparent;
	border-radius: 20px;
	display: block;
	overflow: hidden;
}

.portfolio-img a  > img {
    max-width: none !important; 
	position: relative;
	top: -60px;
	left: -60px;
}

.preloader {
	background: url('../img/preloader.gif') center 80px no-repeat;
	display: inline-block;
}

@media screen and (max-width: 979px) and (min-width: 768px) {
	.portfolio-img {
		height: 166px;
	}
}

/* more works */

.more-works  {
	margin: 30px 0px 50px 0px;
}

.more-works h2 {
	border: 1px dashed #000;
	border-radius: 25px;
}

.more-works a {
	font: 36px/36px CuprumBold !important;
	text-decoration: none;
}

/* main-footer */

#main-footer {
	background: #1a1a1a;
	padding: 20px 0px;
	position: relative;
}

.stroke-bottom {
	content: '';
	background: url('../img/bottom-stroke.png') no-repeat;
	width: 100%;
	height: 5px;
	bottom: 0px;
	position: absolute;
	background-size: cover;
}

.footer-nav > li a {
	color: #fff !important;
}

.footer-logo {
	padding: 60px 0px 15px 0px;
}

.copyright {
	color: #fff;
	font-size: 10px;
}

.liveinternet {
	opacity: 0;
}

/* social icon */

.social > a {
	background: url('../img/social.png') no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-left: 6px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.social > a:nth-child(1) {
	background-position: 0 0;
}

.social > a:nth-child(2) {
	background-position: -38px 0;
}

.social > a:nth-child(3) {
	background-position: -76px 0;
}
.social > a:nth-child(4) {
	background-position: -114px 0;
}


.social > a:nth-child(1):hover {
	background-position: 0px -33px;
}

.social > a:nth-child(2):hover {
	background-position: -38px -33px;
}

.social > a:nth-child(3):hover {
	background-position: -76px -33px;
}

.social > a:nth-child(4):hover {
	background-position: -114px -33px;
}

/* portfolio show */
#portfolio-wrap {
	position: absolute;
	top: 0px;
}

.entry {
	padding: 60px 0px;
	max-width: 1170px;
	margin: 0 auto;
}

.entry .close {
	opacity: 1;
	width: 70px;
	height: 70px;
	background: url('../img/close-btn8.png') no-repeat;
	margin: 10px 0px;
	display: block;
	-webkit-transition: all 0.5s linear;
	transition: all 0.3s linear;
}

.entry .close:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.entry blockquote small:before {
	content: '';
}

.entry img {
	margin-top: 15px;
}

.work-screen {
	display: block;
	margin: 0 auto;
}

/* contact form */

#contact-form {
	background: #fff9d2;
	border-top: 1px dashed #000;
	position: relative;
	overflow: hidden;
	display: none;
	background: url('../img/pattern-contact.jpg') repeat
}

.container-for-close {
	position: relative;
}

.close-contact {
	position: absolute;
	width: 54px;
	height: 80px;
	bottom: 0px;
	right: 50%;
	margin-right: -28px;
	background: #fb972c url('../img/arrow-close.png') center 15px no-repeat;
	display: block;
	border-radius: 20px 20px 0px 0px;
	cursor: pointer;
}

#send-form  label, #send-form  span {
	font: 20px/20px CuprumBold !important;
}

#send-form input[type="text"] #send-form textarea {
	background: #fff /*url('../img/pattern-contact.jpg') repeat*/;
	/*border: 2px solid #fff;
	box-shadow: 1px 1px 0px rgba(0,0,0,0.1), -1px -1px 0px rgba(0,0,0,0.1);*/
	box-shadow: none !important;
}

#send-form input[type="text"]:focus, #send-form input[type="email"]:focus, #send-form textarea:focus {
	background: #fff;
}

#send-form input[type="submit"] {
	background: #0cf;
	line-height: 31.5px;
	font-size: 31.5px !important;
}